* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}



header {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100px; 
}

h1 {
    margin: 0; 
    margin-bottom: 45px; 
    font-size: 45px; 
}

nav {
    text-align: center; 
    position: relative; 
    transform: translateY(-40px); 
}

nav ul {
    padding: 0; 
    list-style: none; 
}

nav li {
    display: inline-block; 
    margin-right: 20px; 
}

nav a {
    text-decoration: none; 
    color: black; 
}

nav:after {
    content: '';
    display: block;
    border-bottom: 1px solid black; 
    margin-top: 10px; 
}

.politika {
    text-align: center; 
    padding: 0; 
}

.politika h2 {
    margin-bottom: 20px; 
}

.arhiv {
    text-align: center;    
}

.arhiv h2 {
    margin-bottom: 20px;
}

.slike {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}



.prozor {
    position: absolute; 
    bottom: 10px; 
    left: 0; 
    right: 0; 
    background: rgba(253, 253, 253, 0.5); 
    color: rgb(26, 15, 15); 
    padding: 60px; 
    text-align: center;
}

.slika-wrapper {
    position: relative;
    width: 220px;
    height: 140px;
    overflow: hidden;
}

.slika-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.unutarnji-prozor {
    position: absolute;
    width: 90%; 
    height: 90%; 
    bottom: -50px;
    left: 5%; 
    border: 1px solid rgb(0, 0, 0); 
    background-color: rgb(233, 225, 225); 
    box-sizing: border-box; 
}

.unutarnji-prozor h4{
    top: 40px;
}



.arhiv {
    text-align: center;
    padding: 0px;
    margin-bottom: 80px; 
}

footer {
    background-color: #616161; 
    padding: 10px;
    text-align: center;
    margin-top: auto; 
    width: 100%;
}


.stranicaPage p {
    text-align: center;
    margin-right: 40%;
    margin-top: -20px;
    font-size: 14px;
}



a{
    text-decoration: none;
    color: black;
}

.naslovPolitika h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    max-width: 40%; 
    margin-left: auto; 
    margin-right: auto; 
    word-wrap: break-word; 
}

div.slikazasajt {
    text-align: center;
    margin-right: 21%; 
}

div.slikazasajt img {
    width: 550px;
    height: 400px; 
}

.tekstZasajt p{
    
    margin-top: 20px;
    font-size: 20px;
    max-width: 100%; 
    margin-left: 25%; 
    margin-right: 20%;
     
}

.okvir p{
    
    font-size: 15px;
    max-width: 100%; 
    margin-left: 10%; 
    margin-right: 20%;
    margin-top: 13px;
     
}

.okvir {
    background-color: rgb(194, 33, 33);
    border: 3px solid rgb(0, 0, 0);
    width: 220px; 
    height: 45px; 
    position: relative; 
    margin-top: 20px; 
    padding: 10px; 
    margin-left: 30px;

}

.tekstNovi{
    font-size: 22px;
    max-width: 100%; 
    margin-left: 25%; 
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 100px;
}

.tekstNovi p{
    margin-top: 30px;
}

form {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    width: 500px; 
    margin: 0 auto; 
}

.title {
    text-align: center;
}


.pomakniAdmin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}